
.popup-container {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: rgba(0, 0, 0, 0.85); 
    padding: 15px; 
    border-radius: 10px;
    width: 400px; 
    height: auto; 
    max-width: 90%; 
    position: relative;
    color: #009688; 
    overflow: hidden; 
    text-align: left;
}

.popup-image {
    width: 100px; 
    height: auto; 
    margin-right: 10px; 
}

.product-image-quantity {
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.quantity-selector button {
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.quantity-selector span {
    width: 40px; 
    text-align: center; 
}

.vertical-line1 {
    width: 2px; 
    background-color: #ccc; 
    height: 60px; 
    margin: 0 10px; 
}

.color-options-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-left: 5px;
    margin-bottom: 10px;
    margin-left: 0;
}

#popupProductName {
    margin: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.price-container {
    margin-top: 5px; 
    text-align: left; 
    margin-bottom: 5px;
}

.order-price {
    font-size: 1em; 
    color: #00ff00; 
}

.delivery-fee {
    color: #ffcc00; 
    font-size: 1em; 
}

.color-fam-label {
    margin-bottom: 5px; 
    font-weight: bold; 
}

.color-options {
    display: flex;
    margin-left: 0; 
}

.color-s {
    width: 20px;
    height: 20px;
    border: 1px solid #fff; 
    margin-right: 5px;
}
/*
.tooltip {
    display: none; 
    position: fixed; 
    background-color: rgba(0, 0, 0, 0.85); 
    color: white; 
    padding: 5px 10px; 
    border-radius: 15px; 
    font-size: 0.9em; 
    z-index: 1000; 
    white-space: nowrap; 
    max-width: 1000px; 
    overflow: hidden; 
}

.delivery-fee:hover + .tooltip {
    display: block; 
    top: 430px; 
    left: 500px; 
}
*/
.confirm-order-details, .payment-details {
    color: #009688; 
    cursor: pointer; 
    margin-top: 10px; 
}

.confirm-order-details:hover span, .payment-details:hover span{
    color: white;
}

.button-container {
    display: flex; 
    justify-content: center; 
    margin-top: 10px; 
}

.order-now-btn {
    background-color: #009688cc; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    display: block; 
    margin: 10px auto; 
}

.order-now-btn:hover {
    background-color: #00796bcc; 
}
